 <div class="row">
                <div class="col-12">
                    <audio id="song-audio" src="<%= rails_blob_url current_song.audio %>"></audio>
                    <div class="music-bar fixed-bottom ml-5 mr-5 mb-2 p-0">
                        <div class="container-fluid p-0">
                            <div class="progress">
                                <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="row pl-2 pr-2">
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-2">
                                            <%= image_tag current_song.thumbnail , style: "height: 48px; width: 48px;" , class: "m-2 rounded float-start" %>
                                        </div>
                                        <div class="float-start col-9 d-flex flex-column align-content-between">
                                            <h6 class="p-0 m-1"><%= current_song.name %></h6>
                                            <p>dua lipa</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex align-content-center">
                                    <div class="row controls d-flex align-content-center">
                                        <div class="col-4 music-controll-icon">
                                             <%= image_tag "icons/prev-song-grey.svg", id: "prev-button" %>
                                        </div>
                                        <div class="col-4 music-controll-icon">
                                            <%= image_tag "icons/play-circle.svg", id: "play-button" %>
                                        </div>
                                        <div class="col-4 music-controll-icon">
                                             <%= image_tag "icons/next-song-grey.svg", id: "next-button" %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-5 d-flex justify-content-end">
                                    <div class="row controls d-flex align-content-center">
                                        <div class="col-4 music-controll-icon">
                                            <%= image_tag "icons/volume-1-grey.svg", id: "like-button" %>
                                        </div>
                                        <div class="col-4 music-controll-icon">
                                            <%= image_tag "icons/list-grey.svg", id: "like-button" %>
                                        </div>
                                        <div class="col-4 music-controll-icon">
                                            <%= image_tag "icons/heart-grey.svg", id: "like-button"%>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>