<div class="row song-head p-3">
    <a href="<%= playlist_path(playlist)%>" target="_top" data-turbo-history="replace">
        <div class="col-12 p-0">
            <%= image_tag playlist.thumbnail , class: "thumbnail" %>
            <a href="<%= play_playlist_path(playlist)%>" target="_top" data-turbo-history="replace">
                <%= image_tag "icons/play.svg" , class: "play" %>
            </a> 
        </div>
    <a href="<%= play_playlist_path(playlist)%>" target="_top" data-turbo-history="replace">
     <div class="col-12 pl-1">
        <h5 class="song-name mb-0 link"><%= playlist.name %></h5>
    </div>
    <div class='col-12 p-1 like_button'>
        <%= render "likes/like_button" , likeable:playlist %>
    </div>
</div>
