<%= form_with(model: song) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.select :category_id , options_for_select(@categories.map{|category| [category.name, category.id]})%>
  <%= form.select :language_id , options_for_select(@languages.map{|language| [language.name, language.id]})%>

  <%= form.label :serach_user %>
  <%= form.text_field :search_query %>
  <%= link_to "search" , new_song_path , remote: true %>

  <div id="users">
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
