<p id="notice"><%= notice %></p>

<h1>Group Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_sessions.each do |group_session| %>
      <tr>
        <td><%= group_session.name %></td>
        <td><%= link_to 'Show', group_session %></td>
        <td><%= link_to 'Edit', edit_group_session_path(group_session) %></td>
        <td><%= link_to 'Destroy', group_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Session', new_group_session_path %>
