<h1>your likes</h1>

<table>
  <thead>
    <tr>
      <th>song</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <td><%= like.likeable_type %></td>
        <% if like.likeable_type ==  'Song' %>
            <td><%= like.likeable.name %></td>
            <td><%= link_to 'Show', songs_path %></td>
        <% elsif like.likeable_type == 'Playlist' %>
            <td><%= like.likeable.name %></td>
            <td><%= link_to 'Show', playlist_playlist_songs_path(playlist_id: like.likeable_id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>