<div class="row">
  <div class="col-12">
    <div class="row mt-3">
      <%= image_tag @playlist.thumbnail , class: "cover" %>
      <div class="col-12 ml-3 mt-2">
        <h4><%= @playlist.name %></h4>
        <p><%= @playlist.description %></p>
      </div>
        <div class="col-12 ml-3 mb-4">
          <div class="row">
            <% if current_user == @playlist.user %>
              <div class="col-2">
                <%= link_to "add song" , new_playlist_playlist_song_path , method: :get , class: "btn",  target: "_top" , data: { turbo: false }%>
              </div>
              <div class="col-2">
                  <%= link_to "edit" , edit_playlist_path(@playlist) , method: :get , class: "btn",  target: "_top" , data: { turbo: false }%>
              </div>
            <% end %>
            <div class="col-2">
                <%= link_to "play" , play_playlist_path(@playlist) , method: :get , class: "btn",  target: "_top" , data: { turbo: false }%>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="songs m-3">
<h4 class="mt-4 mb-4">songs</h4>
  <div class="row">
  <% @playlist.songs.each do |song| %>
      <div class="col-12">
        <%= render partial: "playlist_song_head" , locals: { song: song } %>
      </div>
  <% end %>
  </div>
</div>

