<p id="notice"><%= notice %></p>

<h1><%= @playlist.name %></h1>
<h5><%= @playlist.description %></h5>

<table>
  <thead>
    <tr>
      <th>song</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist.songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Destroy', playlist_playlist_song_path(:id => song.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>